@font-face {
  font-family: emizen;
  src: url("/assets/fonts/emizen.otf");
}
@font-face {
  font-family: linkStart;
  src: url("/assets/fonts/linkStart.otf");
}
@font-face {
  font-family: olney;
  src: url("/assets/fonts/olney.otf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/picts/bodyWallpaper.jpeg");
}

#container .navbar {
  width: 100%;
  margin: 40px auto;
  max-width: 940px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid azure;
}
#container .navbar .container-fluid .collapse .navbar-nav {
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#container .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.5em;
  color: azure;
  letter-spacing: 2px;
  font-family: emizen;
  text-transform: uppercase;
}
#container #main {
  width: 100%;
  margin: auto;
  height: 700px;
  max-width: 1500px;
}
#container #main .row .col-lg-8 {
  margin: 60px auto;
}
#container #main .row .col-lg-8 .identity {
  font-size: 2.8em;
  color: azure;
  font-family: olney;
}
#container #main .row .col-lg-8 .developper {
  font-size: 3.8em;
  letter-spacing: 2px;
  color: azure;
  font-family: linkStart;
}
#container #main .row .col-lg-8 .search {
  margin-top: -5px;
  font-size: 2.5em;
  letter-spacing: 2px;
  color: azure;
  font-family: olney;
}
#container #main .row .col-lg-8 .listBtnHref {
  margin-top: 30px;
  text-align: center;
}
#container #main .row .col-lg-8 .listBtnHref a {
  text-decoration: none;
}
#container #main .row .col-lg-8 .listBtnHref a .fa-download, #container #main .row .col-lg-8 .listBtnHref a .fa-linkedin-in, #container #main .row .col-lg-8 .listBtnHref a .fa-github {
  font-size: 2.8em;
  margin-right: 120px;
  color: azure;
  transition: all 0.2ms ease;
}
#container #main .row .col-lg-8 .listBtnHref a .fa-download:hover, #container #main .row .col-lg-8 .listBtnHref a .fa-linkedin-in:hover, #container #main .row .col-lg-8 .listBtnHref a .fa-github:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px azure, 0 0 10px azure, 2px 2px 5px rgba(206, 89, 55, 0);
}
#container #main .row .col-lg-4 .img-fluid {
  height: 600px;
}
#container .about {
  display: none;
}
#container #projets {
  display: none;
  margin: 30px auto;
}
#container #projets #listProjets {
  margin: auto;
  max-width: 1200px;
}
#container #projets #listProjets .col-lg-4 .img-fluid {
  padding: -15px;
  height: 150px;
  max-width: 450px;
}
#container #projets #infoProjet {
  padding: 25px;
  margin-top: 20px;
}
#container #projets #infoProjet .col-lg-7 #projetImage {
  height: 550px;
}

@media screen and (max-width: 1440px) {
  #container .navbar {
    margin: 80px auto;
  }
  #container #main .row .col-lg-8 {
    padding-left: 120px;
    margin: 120px auto;
  }
  #container #main .row .col-lg-8 .identity {
    font-size: 2em;
  }
  #container #main .row .col-lg-8 .developper {
    font-size: 2.8em;
  }
  #container #main .row .col-lg-8 .search {
    font-size: 2em;
  }
}/*# sourceMappingURL=style.css.map */